.carduri-magazin {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 55px;

  .card {
    max-width: 31%;
    background: #7462c4;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;

    h3 {
      text-align: center;
      color: white;
      font-size: 17px;
      padding: 24px 15px;
    }

    .sterge-card-magazin {
      position: absolute;
      top: -15px;
      right: -15px;
      font-size: 24px;

      button {
        background: transparent;
        color: white;
        border: transparent;
        outline: transparent;

        i {
          color: white;
          font-weight: 200;
          cursor: pointer;
        }
      }
    }
  }
}

.lipsa-card {
  background: white;
}

.overlay {
  display: none;
  @media (max-width: $tablet) {
    position: absolute;
    background: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
  }

  i {

    position: absolute;
    top: 50px;
    color: white;
    font-size: 40px;
    @media (min-width: $tablet) {
      display: none;
    }
  }

  .cod-de-bara {
    margin: 0 auto;
    @media (max-width: $tablet) {
      transform: rotate(90deg);
      margin: 250px -35px;
    }
  }
}

.carduri-personale {
  border-radius: 0;
  padding: 60px 10px;
  display: flex;
  flex-direction: column;
  @media (min-width: $laptop) {
    padding: 60px 40px;
  }

  .optiuni-card {
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    width: 100%;
    @media (min-width: $laptop) {
      flex-direction: row;
      padding-bottom: 0;
    }

    &:nth-child(even) {
      align-self: flex-end;
      @media (min-width: $tablet) {
        flex-direction: row-reverse;
      }

      input {
        @media (min-width: $tablet) {
          margin-right: 20px;
        }
      }
    }

    .optiuni {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 20px;

      a {
        margin-bottom: 24px;
        outline: transparent;
        cursor: pointer;
        color: white;
      }
    }

    .card {
      max-height: 230px;
      max-width: 500px;
      position: relative;
      background-image: linear-gradient(to bottom right, #1c1d1d, #3a3a3b);
      border-radius: 12px;
      padding: 7px 6px;
      margin-bottom: 24px;
      width: 100%;
      @media (min-width: $laptop) {
        padding: 14px 24px;
        min-width: 460px;
      }

      .update_balanta {
        background: transparent;
        border: 0;
        border-bottom: 2px black solid;
        width: 50px;
        color: white;
        outline: transparent;
      }

      .fa-clone {
        cursor: pointer;
      }

      h4 {
        color: #9f9fa0;
        font-size: 15px;
        letter-spacing: 2px;
        padding: 9px 12px 0;
        margin: 0;

        &:first-child {
          padding-top: 10px;
        }
      }

      .date-subsol {
        display: flex;
        align-items: baseline;
        padding-top: 15px;

        h4 {
          font-size: 13px;
          padding-right: 6px;
          @media (min-width: $laptop) {
            padding-right: 30px;
          }

          p {
            padding: 12px 0;
            color: white;
            font-size: 16px;
            display: flex;
            margin: 0;
          }
        }
      }
    }
  }
}