* {
  font-family: 'Nunito', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: linear-gradient(#7462c4, #b95cca);
}

a {
  color: inherit;
}

.container-fade {
  background: #01002b;
  opacity: 1;
  box-shadow: 0px 0px 25px black;
  min-height: 100vh;
  height: 100%;
  @media (min-width: $large_desktop) {
    max-width: 760px;
  }
}

.container-fluid {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  h1 {
    color: white;
    padding-top: 24px;
  }

  a {
    color: white;
    font-size: 24px;
  }
}

.meniu {
  position: relative;
  background: white;

  ul {
    position: fixed;
    opacity: 0;
    background-image: linear-gradient(to bottom right, #1c1d1d, #3a3a3b);
    width: 100%;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;

    button {
      background: transparent;
      border: none;
      color: white;
      font-size: 40px;
      outline: transparent;
      transition: color 1s;
      cursor: pointer;

      &:hover {
        color: #b95cca;
      }
    }

    li {
      color: white;
      list-style: none;
      padding: 25px;
      font-size: 21px;
      font-weight: 600;

      a:hover {
        color: #9f9fa0;
        text-decoration: none;
      }
    }
  }
}

.display-on {
  ul {
    padding: 0;
    -webkit-animation: afisare-meniu 1s;
    animation: afisare-meniu 1s ease;
    animation-fill-mode: forwards;
    z-index: 9999;
    display: flex;
  }
}

@keyframes afisare-meniu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.paginatie {
  display: flex;
  justify-content: center;

  .pagination {
    margin: 0;
  }
}

// Notificare
.notificare {
  background: white;
  box-shadow: 2px 2px 2px 5px white;
  animation: notificare 0.5s infinite alternate linear;
  position: relative;
  max-width: 300px;
  margin: 25px auto 0;

  h5 {
    margin: 0;
    font-weight: 600;
    font-size: 15px;
    padding: 10px 8px;
    text-align: center;
  }
}

@keyframes notificare {
  from {
    top: 0;
  }
  to {
    top: 5px;
  }
}

// Alerta
.alerta {
  z-index: 999;
  top: -220px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  background: white;
  height: 100%;
  width: 100%;
  max-height: 200px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 5px 5px #555556;
  animation-name: alerta;
  animation-duration: 8s;
  animation-timing-function: ease;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;

  .info-alert {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      font-size: 15px;
      font-weight: bold;
      padding-top: 25px;
      text-align: center;
    }

    img {
      max-width: 100px;
      max-height: 100px;
      margin: 0 auto;
    }
  }
}
@keyframes alerta {
  0% {
    top: -220px;
  }
  70% {
    top: 120px;
    opacity: 1;
  }
  100% {
    display: none;
  }
}
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem transparent;
}