/*SIGN UP */
.sign-up {
  position: relative;
  height: 100vh;
  width: 100%;
}

.top-sign-up {
  width: 50%;
  margin: 0 auto;
}

.top-sign-up {
  h3 {
    position: relative;
    text-align: center;
    top: 5px;
    font-size: 100px;

    i {
      background: #7462c4;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  h4 {
    position: relative;
    text-align: center;
    top: 0px;
    color: white;
    font-size: 40px;
  }
}

.sign-in-form {
  position: relative;
  top: 20px;

}

.sign-up-form {
  position: relative;
  top: 20px;
  display: none;
}

.form-group {
  width: 80%;
  margin: 0 auto;
  color: white;
  margin-bottom: 20px;
  outline: none;
  letter-spacing: 1px;
  @media (min-width: $tablet) {
    width: 50%;
  }
  @media (min-width: $laptop) {
    width: 40%;
  }
  @media (min-width: $large_desktop) {
    width: 30%;
  }

  a {
    color: #7462c4;
  }
}

.form-control {
  background: #121245;
  border: none;
  border-radius: 0;

  &:focus {
    background-color: #0b0a39;
    color: white;
    outline: black;
  }
}

.sing-in {
  display: flex;
  justify-content: center;
  margin: 0 auto 15px;
  padding: 15px 30px;
  position: relative;
  background: #111041;
  border: none;
  transition: box-shadow 0.5s;

  &:hover {
    box-shadow: 0px 0px 10px #151449;
    background: #151449;
  }
}

.sign-in-form,
.sign-up-form {
  h5 {
    text-align: center;
    color: white;
    font-size: 15px;

    label {
      color: #7462c4;
      font-weight: 600;
    }
  }
}

.form-group a:hover,
.sign-in-form h5 label:hover,
.sign-up-form h5 label:hover {
  font-weight: 600;
}

.sign-up-meniu {
  position: relative;
  top: 80px;
}

#sign-up-text,
.sec-step {
  display: none;
}

a .text-continue {
  position: relative;
  text-align: center;
  font-size: 16px;
  top: 10px;
  color: white;
}

.finish-register {
  display: flex;
  flex-direction: row;
}

.form-error {
  border: 2px solid red;
}
.diff-pass{
  color:orangered;
  font-weight: bold;
  padding-top: 12px;
  text-align: center;
}
.carduri-personale {
  form {
    input[name="sold_actual"] {
      background: transparent;
      border: none;
      color:white;
      border-bottom: 2px solid white;
      max-width: 100px;
      &:focus {
        outline: none;
      }
    }
  }
}