.date-profil {
  background: #01002b;
  max-width: 90%;
  height: auto;
  margin: 30px 25px 0;
  padding-bottom: 20px;

  label {
    font-size: 14px;
  }

  .form-group {
    width: 100% !important;
  }

  h3 {
    color: white;
    padding-bottom: 25px;
  }

  .form-control {
    color: white;

    &:disabled {
      color: black;
    }
  }
}