.schimb-valutar {
  strong {
    color:white;
    letter-spacing: 0.5px;
  }
  ul {
    list-style: none;
    padding-bottom: 24px;
    margin: 0;
    @media (max-width: $laptop) {
      padding-left: 0;
    }
    h3 {
      padding-top: 25px;
      color: white;
    }

    li p {
      color: #d6d6d7;
      padding-left: 24px;
      font-size: 14px;
    }
  }

  .date-schimb {
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
  }
  .page-item .page-link {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 15px 30px;
    position: relative;
    background: #111041;
    border: none;
    transition: box-shadow 0.5s;
    color:white;
    &:hover {
      box-shadow: 0px 0px 10px #151449;
      background: #151449;
    }
  }
  .page-item.disabled .page-link {
    color: #9f9fa0;
  }
  .page-link:focus {
    box-shadow: 0 0 0 !important;
  }
  .sorting,
  .sorting_asc{
    cursor: pointer;
  }
}