/* START TUTORIAL */
.tutorial-top {
  padding-top: 15px;
}

.tutorial-height {
  .taburi-tutorial {
    position: absolute;
    top: 0;
    background: #7A61C4;
    margin-left: -15px;
    @media (max-width: $phone) {
      left:0;
    }
    form {
      .nav-link {
        background: none;
        border: none;
        color:white;
        &:hover{
          cursor: pointer;
        }
      }
    }
    .nav-tabs {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      position: relative;
      border: 0;

      .nav-link {
        border: none;

        &:hover,
        &:focus {
          border: none;
          padding-right: 10px;
          color: black;
          font-weight: 600;
        }
      }

      .nav-link.active {
        background: transparent;
        border: none;
        font-weight: 600;
        color: mediumspringgreen;
      }

      a {
        padding-right: 10px;
        color: white;
      }
    }
  }

  .pagina-tutorial {
    padding: 100px 0 70px;
    .col-md-8 {
      display: flex;
      justify-content: space-around;
    }
    h3 {
      color: white;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 1px;
      padding: 30px 0;

      strong {
        color: #b95cca;
        font-size: 22px;
        font-weight: normal;
        padding-right: 12px;
      }
    }
    form {
      padding-top: 25px;
    }
    p {
      strong {
        color: white;
      }
    }

    .row {
      align-items: center;

      img {
        width: 100%;
        border: 2px solid white;
        max-height: 500px;
        max-width: 300px;
      }

      p {
        color: #9f9fa0;
        text-align: center;

        &:first-child {
          @media (max-width: $tablet) {
            padding-top: 25px;
          }
        }
      }
    }
  }
}