@import url(../vendor/twbs/bootstrap/dist/css/bootstrap.min.css);
@import url(../vendor/twbs/bootstrap/dist/css/bootstrap-grid.min.css);
@import url(../vendor/twbs/bootstrap/dist/css/bootstrap-reboot.min.css);
* {
  font-family: 'Nunito', sans-serif; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: linear-gradient(#7462c4, #b95cca); }

a {
  color: inherit; }

.container-fade {
  background: #01002b;
  opacity: 1;
  box-shadow: 0px 0px 25px black;
  min-height: 100vh;
  height: 100%; }
  @media (min-width: 1200px) {
    .container-fade {
      max-width: 760px; } }

.container-fluid {
  margin: 0;
  padding: 0;
  min-height: 100vh; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline; }
  .header h1 {
    color: white;
    padding-top: 24px; }
  .header a {
    color: white;
    font-size: 24px; }

.meniu {
  position: relative;
  background: white; }
  .meniu ul {
    position: fixed;
    opacity: 0;
    background-image: linear-gradient(to bottom right, #1c1d1d, #3a3a3b);
    width: 100%;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0; }
    .meniu ul button {
      background: transparent;
      border: none;
      color: white;
      font-size: 40px;
      outline: transparent;
      transition: color 1s;
      cursor: pointer; }
      .meniu ul button:hover {
        color: #b95cca; }
    .meniu ul li {
      color: white;
      list-style: none;
      padding: 25px;
      font-size: 21px;
      font-weight: 600; }
      .meniu ul li a:hover {
        color: #9f9fa0;
        text-decoration: none; }

.display-on ul {
  padding: 0;
  -webkit-animation: afisare-meniu 1s;
  animation: afisare-meniu 1s ease;
  animation-fill-mode: forwards;
  z-index: 9999;
  display: flex; }

@keyframes afisare-meniu {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.paginatie {
  display: flex;
  justify-content: center; }
  .paginatie .pagination {
    margin: 0; }

.notificare {
  background: white;
  box-shadow: 2px 2px 2px 5px white;
  animation: notificare 0.5s infinite alternate linear;
  position: relative;
  max-width: 300px;
  margin: 25px auto 0; }
  .notificare h5 {
    margin: 0;
    font-weight: 600;
    font-size: 15px;
    padding: 10px 8px;
    text-align: center; }

@keyframes notificare {
  from {
    top: 0; }
  to {
    top: 5px; } }
.alerta {
  z-index: 999;
  top: -220px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  background: white;
  height: 100%;
  width: 100%;
  max-height: 200px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 5px 5px #555556;
  animation-name: alerta;
  animation-duration: 8s;
  animation-timing-function: ease;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running; }
  .alerta .info-alert {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .alerta .info-alert h3 {
      font-size: 15px;
      font-weight: bold;
      padding-top: 25px;
      text-align: center; }
    .alerta .info-alert img {
      max-width: 100px;
      max-height: 100px;
      margin: 0 auto; }

@keyframes alerta {
  0% {
    top: -220px; }
  70% {
    top: 120px;
    opacity: 1; }
  100% {
    display: none; } }
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem transparent; }

/*SIGN UP */
.sign-up {
  position: relative;
  height: 100vh;
  width: 100%; }

.top-sign-up {
  width: 50%;
  margin: 0 auto; }

.top-sign-up h3 {
  position: relative;
  text-align: center;
  top: 5px;
  font-size: 100px; }
  .top-sign-up h3 i {
    background: #7462c4;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
.top-sign-up h4 {
  position: relative;
  text-align: center;
  top: 0px;
  color: white;
  font-size: 40px; }

.sign-in-form {
  position: relative;
  top: 20px; }

.sign-up-form {
  position: relative;
  top: 20px;
  display: none; }

.form-group {
  width: 80%;
  margin: 0 auto;
  color: white;
  margin-bottom: 20px;
  outline: none;
  letter-spacing: 1px; }
  @media (min-width: 768px) {
    .form-group {
      width: 50%; } }
  @media (min-width: 992px) {
    .form-group {
      width: 40%; } }
  @media (min-width: 1200px) {
    .form-group {
      width: 30%; } }
  .form-group a {
    color: #7462c4; }

.form-control {
  background: #121245;
  border: none;
  border-radius: 0; }
  .form-control:focus {
    background-color: #0b0a39;
    color: white;
    outline: black; }

.sing-in {
  display: flex;
  justify-content: center;
  margin: 0 auto 15px;
  padding: 15px 30px;
  position: relative;
  background: #111041;
  border: none;
  transition: box-shadow 0.5s; }
  .sing-in:hover {
    box-shadow: 0px 0px 10px #151449;
    background: #151449; }

.sign-in-form h5,
.sign-up-form h5 {
  text-align: center;
  color: white;
  font-size: 15px; }
  .sign-in-form h5 label,
  .sign-up-form h5 label {
    color: #7462c4;
    font-weight: 600; }

.form-group a:hover,
.sign-in-form h5 label:hover,
.sign-up-form h5 label:hover {
  font-weight: 600; }

.sign-up-meniu {
  position: relative;
  top: 80px; }

#sign-up-text,
.sec-step {
  display: none; }

a .text-continue {
  position: relative;
  text-align: center;
  font-size: 16px;
  top: 10px;
  color: white; }

.finish-register {
  display: flex;
  flex-direction: row; }

.form-error {
  border: 2px solid red; }

.diff-pass {
  color: orangered;
  font-weight: bold;
  padding-top: 12px;
  text-align: center; }

/* START TUTORIAL */
.tutorial-top {
  padding-top: 15px; }

.tutorial-height .taburi-tutorial {
  position: absolute;
  top: 0;
  background: #7A61C4;
  margin-left: -15px; }
  @media (max-width: 576px) {
    .tutorial-height .taburi-tutorial {
      left: 0; } }
  .tutorial-height .taburi-tutorial form .nav-link {
    background: none;
    border: none;
    color: white; }
    .tutorial-height .taburi-tutorial form .nav-link:hover {
      cursor: pointer; }
  .tutorial-height .taburi-tutorial .nav-tabs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    border: 0; }
    .tutorial-height .taburi-tutorial .nav-tabs .nav-link {
      border: none; }
      .tutorial-height .taburi-tutorial .nav-tabs .nav-link:hover, .tutorial-height .taburi-tutorial .nav-tabs .nav-link:focus {
        border: none;
        padding-right: 10px;
        color: black;
        font-weight: 600; }
    .tutorial-height .taburi-tutorial .nav-tabs .nav-link.active {
      background: transparent;
      border: none;
      font-weight: 600;
      color: mediumspringgreen; }
    .tutorial-height .taburi-tutorial .nav-tabs a {
      padding-right: 10px;
      color: white; }
.tutorial-height .pagina-tutorial {
  padding: 100px 0 70px; }
  .tutorial-height .pagina-tutorial .col-md-8 {
    display: flex;
    justify-content: space-around; }
  .tutorial-height .pagina-tutorial h3 {
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 30px 0; }
    .tutorial-height .pagina-tutorial h3 strong {
      color: #b95cca;
      font-size: 22px;
      font-weight: normal;
      padding-right: 12px; }
  .tutorial-height .pagina-tutorial form {
    padding-top: 25px; }
  .tutorial-height .pagina-tutorial p strong {
    color: white; }
  .tutorial-height .pagina-tutorial .row {
    align-items: center; }
    .tutorial-height .pagina-tutorial .row img {
      width: 100%;
      border: 2px solid white;
      max-height: 500px;
      max-width: 300px; }
    .tutorial-height .pagina-tutorial .row p {
      color: #9f9fa0;
      text-align: center; }
      @media (max-width: 768px) {
        .tutorial-height .pagina-tutorial .row p:first-child {
          padding-top: 25px; } }

.date-profil {
  background: #01002b;
  max-width: 90%;
  height: auto;
  margin: 30px 25px 0;
  padding-bottom: 20px; }
  .date-profil label {
    font-size: 14px; }
  .date-profil .form-group {
    width: 100% !important; }
  .date-profil h3 {
    color: white;
    padding-bottom: 25px; }
  .date-profil .form-control {
    color: white; }
    .date-profil .form-control:disabled {
      color: black; }

.carduri-magazin {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 55px; }
  .carduri-magazin .card {
    max-width: 31%;
    background: #7462c4;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 16px; }
    .carduri-magazin .card h3 {
      text-align: center;
      color: white;
      font-size: 17px;
      padding: 24px 15px; }
    .carduri-magazin .card .sterge-card-magazin {
      position: absolute;
      top: -15px;
      right: -15px;
      font-size: 24px; }
      .carduri-magazin .card .sterge-card-magazin button {
        background: transparent;
        color: white;
        border: transparent;
        outline: transparent; }
        .carduri-magazin .card .sterge-card-magazin button i {
          color: white;
          font-weight: 200;
          cursor: pointer; }

.lipsa-card {
  background: white; }

.overlay {
  display: none; }
  @media (max-width: 768px) {
    .overlay {
      position: absolute;
      background: black;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      justify-content: center;
      align-items: center; } }
  .overlay i {
    position: absolute;
    top: 50px;
    color: white;
    font-size: 40px; }
    @media (min-width: 768px) {
      .overlay i {
        display: none; } }
  .overlay .cod-de-bara {
    margin: 0 auto; }
    @media (max-width: 768px) {
      .overlay .cod-de-bara {
        transform: rotate(90deg);
        margin: 250px -35px; } }

.carduri-personale {
  border-radius: 0;
  padding: 60px 10px;
  display: flex;
  flex-direction: column; }
  @media (min-width: 992px) {
    .carduri-personale {
      padding: 60px 40px; } }
  .carduri-personale .optiuni-card {
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    width: 100%; }
    @media (min-width: 992px) {
      .carduri-personale .optiuni-card {
        flex-direction: row;
        padding-bottom: 0; } }
    .carduri-personale .optiuni-card:nth-child(even) {
      align-self: flex-end; }
      @media (min-width: 768px) {
        .carduri-personale .optiuni-card:nth-child(even) {
          flex-direction: row-reverse; } }
      @media (min-width: 768px) {
        .carduri-personale .optiuni-card:nth-child(even) input {
          margin-right: 20px; } }
    .carduri-personale .optiuni-card .optiuni {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 20px; }
      .carduri-personale .optiuni-card .optiuni a {
        margin-bottom: 24px;
        outline: transparent;
        cursor: pointer;
        color: white; }
    .carduri-personale .optiuni-card .card {
      max-height: 230px;
      max-width: 500px;
      position: relative;
      background-image: linear-gradient(to bottom right, #1c1d1d, #3a3a3b);
      border-radius: 12px;
      padding: 7px 6px;
      margin-bottom: 24px;
      width: 100%; }
      @media (min-width: 992px) {
        .carduri-personale .optiuni-card .card {
          padding: 14px 24px;
          min-width: 460px; } }
      .carduri-personale .optiuni-card .card .update_balanta {
        background: transparent;
        border: 0;
        border-bottom: 2px black solid;
        width: 50px;
        color: white;
        outline: transparent; }
      .carduri-personale .optiuni-card .card .fa-clone {
        cursor: pointer; }
      .carduri-personale .optiuni-card .card h4 {
        color: #9f9fa0;
        font-size: 15px;
        letter-spacing: 2px;
        padding: 9px 12px 0;
        margin: 0; }
        .carduri-personale .optiuni-card .card h4:first-child {
          padding-top: 10px; }
      .carduri-personale .optiuni-card .card .date-subsol {
        display: flex;
        align-items: baseline;
        padding-top: 15px; }
        .carduri-personale .optiuni-card .card .date-subsol h4 {
          font-size: 13px;
          padding-right: 6px; }
          @media (min-width: 992px) {
            .carduri-personale .optiuni-card .card .date-subsol h4 {
              padding-right: 30px; } }
          .carduri-personale .optiuni-card .card .date-subsol h4 p {
            padding: 12px 0;
            color: white;
            font-size: 16px;
            display: flex;
            margin: 0; }

.schimb-valutar strong {
  color: white;
  letter-spacing: 0.5px; }
.schimb-valutar ul {
  list-style: none;
  padding-bottom: 24px;
  margin: 0; }
  @media (max-width: 992px) {
    .schimb-valutar ul {
      padding-left: 0; } }
  .schimb-valutar ul h3 {
    padding-top: 25px;
    color: white; }
  .schimb-valutar ul li p {
    color: #d6d6d7;
    padding-left: 24px;
    font-size: 14px; }
.schimb-valutar .date-schimb {
  max-width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 24px; }
.schimb-valutar .page-item .page-link {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 15px 30px;
  position: relative;
  background: #111041;
  border: none;
  transition: box-shadow 0.5s;
  color: white; }
  .schimb-valutar .page-item .page-link:hover {
    box-shadow: 0px 0px 10px #151449;
    background: #151449; }
.schimb-valutar .page-item.disabled .page-link {
  color: #9f9fa0; }
.schimb-valutar .page-link:focus {
  box-shadow: 0 0 0 !important; }
.schimb-valutar .sorting,
.schimb-valutar .sorting_asc {
  cursor: pointer; }

/*# sourceMappingURL=style.css.map */
