// BS 4.0
@import "../vendor/twbs/bootstrap/dist/css/bootstrap.min.css";
@import "../vendor/twbs/bootstrap/dist/css/bootstrap-grid.min.css";
@import "../vendor/twbs/bootstrap/dist/css/bootstrap-reboot.min.css";

//Breake-points
$phone: 576px;
$tablet: 768px;
$laptop: 992px;
$large_desktop: 1200px;

//Imports
@import "default";
@import "form";
@import "tutorial";
@import "profil";
@import "carduri";
@import "schimb_valutar";
